<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body text-center">
                  <h3>Empleados Cidenet</h3>  
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-consultar-tab" data-bs-toggle="pill" data-bs-target="#pills-consultar" type="button" role="tab" aria-controls="pills-consultar" aria-selected="true">Consultar</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-registrar-tab" data-bs-toggle="pill" data-bs-target="#pills-registrar" type="button" role="tab" aria-controls="pills-registrar" aria-selected="false">Registrar</button>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-consultar" role="tabpanel" aria-labelledby="pills-consultar-tab" tabindex="0">
                    <div class="card">
                        <div class="card-body">
                            <h4>Listado de empleados</h4>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">Primer Apellido</th>
                                            <th scope="col">Segundo Apellido</th>
                                            <th scope="col">Primer Nombre</th>
                                            <th scope="col">Otros Nombres</th>
                                            <th scope="col">Tipo de identificación</th>
                                            <th scope="col">Número de identificación</th>
                                            <th scope="col">Pais</th>
                                            <th scope="col">Correo</th>
                                            <th scope="col">Estado</th>
                                            <th scope="col">&nbsp;</th>
                                            <th scope="col">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let empleado of listEmpleados">
                                            <td>{{empleado.primerApellido}}</td>
                                            <td>{{empleado.segundoApellido}}</td>
                                            <td>{{empleado.primerNombre}}</td>
                                            <td>{{empleado.otrosNombres}}</td>
                                            <td>{{empleado.tipoIdentificacion}}</td>
                                            <td>{{empleado.numeroIdentificacion}}</td>
                                            <td>{{empleado.pais}}</td>
                                            <td>{{empleado.correo}}</td>
                                            <td class="text-center">
                                                <i *ngIf="empleado.estado" class="fa-solid fa-circle-check text-success" title="Actívo"></i>
                                                <i *ngIf="!empleado.estado" class="fa-solid fa-circle-xmark text-danger" title="Desactivado"></i>
                                            </td>
                                            <td><i (click)="editarEmpleado(empleado)" class="fa-solid fa-pen-to-square text-warning" title="Editar"></i></td>
                                            <td><i (click)="eliminarEmpleado(empleado.id)" class="fa-solid fa-trash-can text-danger" title="Eliminar"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-registrar" role="tabpanel" aria-labelledby="pills-registrar-tab" tabindex="1">
                    <div class="card">
                        <div class="card-body">
                            <h4>Registrar Empleado</h4>
                            <form [formGroup]="form" (ngSubmit)="registrarEmpleado()">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <label>Primer Apellido</label>
                                            <input formControlName="primerApellido" type="text" class="form-control required" title="Primer Apellido" maxlength="20" />
                                            <small *ngIf="this.form.get('primerApellido')?.invalid && this.form.get('primerApellido')?.touched" class="text-danger"  >Solo mayúsculas, no se permiten números, acentos, ni Ñ, máximo 20 letras.</small>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <label>Segundo Apellido</label>
                                            <input formControlName="segundoApellido" type="text" class="form-control required" title="Segundo Apellido" maxlength="20" />
                                            <small *ngIf="this.form.get('segundoApellido')?.invalid && this.form.get('segundoApellido')?.touched" class="text-danger"  >Solo mayúsculas, no se permiten números, acentos, ni Ñ, máximo 20 letras.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <label>Primer Nombre</label>
                                            <input formControlName="primerNombre" type="text" class="form-control required" title="Primer Nombre" maxlength="20" />
                                            <small *ngIf="this.form.get('primerNombre')?.invalid && this.form.get('primerNombre')?.touched" class="text-danger"  >Solo mayúsculas, no se permiten números, acentos, ni Ñ, máximo 20 letras.</small>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <label>Otros Nombres</label>
                                            <input formControlName="otrosNombres" type="text" class="form-control" title="Otros Nombres" maxlength="50" />
                                            <small *ngIf="this.form.get('otrosNombres')?.invalid && this.form.get('otrosNombres')?.touched" class="text-danger"  >Solo mayúsculas, no se permiten números, acentos, ni Ñ, máximo 50 letras.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <label>Tipo de identificacion</label>
                                            <select formControlName="tipoIdentificacion" class="form-control">
                                                <option value="Cedula">Cedula</option>
                                                <option value="Pasaporte">Pasaporte</option>
                                            </select>
                                            <small *ngIf="this.form.get('tipoIdentificacion')?.invalid && this.form.get('tipoIdentificacion')?.touched" class="text-danger"  >Este campo es requerido.</small>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <label>Número de identificacion</label>
                                            <input formControlName="numeroIdentificacion" type="text" class="form-control required" title="Número de identificación" maxlength="20" />
                                            <small *ngIf="this.form.get('numeroIdentificacion')?.invalid && this.form.get('numeroIdentificacion')?.touched" class="text-danger"  >No se permiten acentos, ni Ñ, máximo 20 caracteres.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-5 col-md-5">
                                        <div class="form-group">
                                            <label>Pais</label>
                                            <select formControlName="pais" id="input_pais" class="form-control">
                                                <option value="Colombia" codigo="co">Colombia</option>
                                                <option value="Estados unidos" codigo="us">Estados Unidos</option>
                                            </select>
                                            <small *ngIf="this.form.get('pais')?.invalid && this.form.get('pais')?.touched" class="text-danger"  >Este campo es requerido.</small>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-7">
                                        <div class="form-group">
                                            <label>Area</label>
                                            <select formControlName="area" class="form-control">
                                                <option value="Administracion">Administracion</option>
                                                <option value="Operacion">Operacion</option>
                                            </select>
                                            <small *ngIf="this.form.get('area')?.invalid && this.form.get('area')?.touched" class="text-danger"  >Este campo es requerido.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-5 col-md-5">
                                        <div class="form-group">
                                            <label>Fecha de ingreso</label>
                                            <input formControlName="fechaIngreso" type="date" name="fecha" min="{{DateMonthAgo | date:'yyyy-MM-dd'}}" max="{{DateToday | date:'yyyy-MM-dd'}}" class="form-control required" />
                                            <small *ngIf="this.form.get('fechaIngreso')?.invalid && this.form.get('fechaIngreso')?.touched" class="text-danger"  >Seleccione una fecha válida</small>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-7">
                                        <div class="form-group">
                                            <label>Fecha de Registro</label>
                                            <input formControlName="fechaRegistro" type="text" class="form-control" readonly/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group" style="display:flex;">
                                            <label>Estado</label>&#160;
                                            <input formControlName="estado" type="checkbox" name="chk_estado" class="form-check" ngDisabled="true" style="top: 6px" />
                                        </div>
                                    </div>
                                </div>
                                <button (click)="limpiarFormulario()" type="button" class="btn btn-secondary">Limpiar</button>
                                <button type="submit" class="btn btn-primary">Registrar</button>
                            </form>
                        </div>
                    </div>
                </div>
              </div>
        </div>

    </div>
</div>
